<h1>Listing Class Types</h1>
<%= link_to 'New Class type', new_class_type_path, class: "btn btn-link" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Like</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @class_types.each do |class_type| %>
      <tr>
        <td><%= class_type.name %></td>
        <td><%= class_type.like %></td>
        <td><%= class_type.class_category %></td>
        <td><%= link_to 'Show', class_type %></td>
        <td><%= link_to 'Edit', edit_class_type_path(class_type) %></td>
        <td><%= link_to 'Destroy', class_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
