<%= form_for @yoga_class do |f| %>
  <div class="row">
    <div class="span12">
      <% if @yoga_class.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@yoga_class.errors.count, "error") %> prohibited this yoga_class from being saved:</h2>

          <ul>
          <% @yoga_class.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="field">
        <%= f.label :time_of_day %>
        <%= f.time_select :time_of_day, prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 5 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="field">
        <%= f.label :day_of_week %>
        <%= f.select :day_of_week, Date::DAYNAMES %>
      </div>
    </div>
    <div class="span3">
      <div class="field">
        <%= f.label :duration, "Duration in Hours" %>
        <%= f.text_field :duration %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div class="field">
        <%= f.check_box :good_time %>
        <%= f.label :good_time, "Good time of day?", {class: "checkbox inline"} %>
      </div>
    </div>
    <div class="span4">
      <div class="field">
        <%= f.check_box :favorite %>
        <%= f.label :favorite, "Favorite?", {class: "checkbox inline"} %>
      </div>
    </div>
    <div class="span4">
      <div class="field">
        <%= f.check_box :like %>
        <%= f.label :like, "Like?", {class: "checkbox inline"} %>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="span3">
      <%= f.label :class_location_id %>
      <%= f.select :class_location_id, ClassLocation.order("place").map {|e| [e.place, e.id]}, {include_blank: true} %>
    </div>
    <div class="span3">
      <%= f.label :teacher_id %>
      <%= f.select :teacher_id, Teacher.order("name").map {|e| [e.name, e.id]}, {include_blank: true} %>
    </div>
    <div class="span3">
      <%= f.label :class_type_id %>
      <%= f.select :class_type_id, ClassType.order("name").map {|e| [e.name, e.id]}, {include_blank: true} %><br /><br />
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="field">
        <%= f.label :class_notes %><br />
        <%= f.text_field :class_notes %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
