<%= form_tag yoga_classes_path, :method => 'get' do %>
  <div class="form-control", id="search_day_field">
    <%= select_tag :search_day, options_for_select(Date::DAYNAMES) %>
    <%= submit_tag "Choose a Class for Me", :name => nil %></div>
    <%= check_box_tag :tod_early_morning %>
    <%= label_tag "Early Morning" %>
    <%= check_box_tag :tod_morning %>
    <%= label_tag "Morning" %>
    <%= check_box_tag :tod_noonish %>
    <%= label_tag "Noonish" %>
    <%= check_box_tag :tod_afternoon_early_evening %>
    <%= label_tag "Afternoon/Early Evening" %>
    <%= check_box_tag :tod_evening %>
    <%= label_tag "Evening" %>
  </div>
<% end %>
