<h1>Listing Yoga Classes</h1>

<div>
    <%= render :partial => 'search_classes' %>
</div>
<div>
    <%= link_to "View all classes", yoga_classes_path, class: "btn btn-link" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time of day</th>
      <th>Day</th>
      <th>Duration</th>
      <th>Good time of day?</th>
      <th>Teacher</th>
      <th>Location</th>
      <th>Type</th>
      <th>Favorite?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @yoga_classes.each do |yoga_class| %>
      <tr>
        <td><%= yoga_class.time_of_day.strftime "%H:%M" %></td>
        <td><%= yoga_class.day_of_week %></td>
        <td><%= yoga_class.duration %></td>
        <td><%= yoga_class.good_time? %></td>
        <td><%= yoga_class.teacher %></td>
        <td><%= yoga_class.class_location %></td>
        <td><%= yoga_class.class_type %></td>
        <td><%= yoga_class.favorite? %></td>
        <td><%= link_to 'Show', yoga_class %></td>
        <td><%= link_to 'Edit', edit_yoga_class_path(yoga_class) %></td>
        <td><%= link_to 'Destroy', yoga_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Yoga class', new_yoga_class_path %><br>
<%= link_to "Class Locations", class_locations_path %>
<%= link_to "Teachers", teachers_path %>
<%= link_to "Class Types", class_types_path %>
