<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Like?:</b>
  <%= @teacher.like %>
</p>

<p>
  <b>Not my favorite?:</b>
  <%= @teacher.not_my_favorite %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
