<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to "Class Locations", class_locations_path %>
  </li>
  <li>
    <%= link_to "Teachers", teachers_path %>
  </li>
  <li>
    <%= link_to "Class Types", class_types_path %>
  </li>
</ul>
<ul class="nav pull-right">
  <li>
    <%= link_to "Yogalife schedule", "http://www.yogalife.com/#!schedule/ccqo", target: "_blank" %>
  </li>
  <li>
    <%= link_to "Samarya schedule", "http://www.samaryacenter.org/samarya-yoga/samarya-center-seattle/schedule-for-drop-in-classes/#Sun", target: "_blank" %>
  </li>
  <li>
    <%= link_to "8 Limbs schedule", "http://www.8limbsyoga.com/yoga-classes.php", target: "_blank" %>
  </li>
</ul>
